<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesaj detayı</title>
</head>
<body>
    <h1><%= message.user %> adlı kullanıcının mesajı</h1>
    <p><strong>Mesajı: </strong> <%= message.text %></p>
    <p><small>Tarih: <&= message.added.toLocaleString() %></small></p>

    <a href="/">Anasayfa</a>
</body>
</html>